@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

@layer components {
  .navigation-links {
    @apply flex gap-10 uppercase tracking-wider;
  }

  .button {
    @apply rounded-md bg-teal-500 px-3 py-1 text-white;
    @apply font-body-bold;
  }
}

@layer utilities {
  .font-brand {
    font-family: "Epilogue", sans-serif;
  }

  .font-body {
    font-family: "Inter", sans-serif;
  }

  .font-brand-bold {
    @apply font-brand font-bold;
  }

  .font-body-bold {
    @apply font-body font-bold;
  }

  .bg-home-hero {
    @apply bg-center;
    background-image: url("https://images.unsplash.com/photo-1593640408182-31c70c8268f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1442&q=80");
  }
}
